body {
  padding: 20px;
  background: rgb(38,37,34) !important;
  font-family: 'IM Fell English SC', serif !important;
}
h1 {
  font-size: 4rem !important;
}
.article {
  background: #d6ccab;
  padding: 15px;
  margin: 10px;
  border: solid 2px rgba(128, 128, 128, 0.562);
  border-radius: 7px;
}
.add-note {
  margin-top: 10px;
}
#header {
  color: #fffae1;
  text-shadow: 0 0 40px black;
  box-shadow: 0 0 30px black;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1490780960365-b5e36e1d824c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-size: cover;
}
#scrape-button {
  margin-top: 15px;
  box-shadow: 0 0 30px white;
}
#scrapeModal {
  text-align: center;
}
#scrapeModal .modal-body {
  box-shadow: 0 0 50px whitesmoke;
}